@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff2") format("woff2"),
       url("../fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-medium.woff2") format("woff2"),
       url("../fonts/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold.woff2") format("woff2"),
       url("../fonts/roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background-color: #849d8f;
  min-width: 1200px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.icon-before::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  background-color: #ec583c;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #f17b64;
  transition: background-color 0.2s;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.catalog-navigation__modal-window {
  display: none;
}

.search__form {
  display: none;
}

.basket__modal-window {
  display: none;
}

.login__modal-window {
  display: none;
}

.feedback {
  display: none;
}

.page-main__slider {
  display: none;
}

.site-navigation {
  line-height: 18px;
  font-weight: 700;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation__item--active {
  background-color: #d07058;
}

.user-navigation__item {
  background-color: #a1b4a9;
}

.search__link::before {
  width: 17px;
  height: 17px;
  background-image: url('../img/loupe.svg');
}

.login__link::before {
  width: 21px;
  height: 19px;
  background-image: url('../img/entrance.svg');
  margin-right: 10px;
}

.basket__link::before {
  width: 21px;
  height: 20px;
  background-image: url('../img/basket.svg');
}

.basket__link--full::before {
  width: 21px;
  height: 20px;
  background-image: url('../img/basket-red.svg');
}

.site-navigation__link,
.user-navigation__link {
  color: inherit;
}

.site-navigation__link:hover,
.site-navigation__link:focus,
.user-navigation__link:hover,
.user-navigation__link:focus {
  color: #000000;
  background-color: #ffffff;
  transition: background-color 0.2s;
}

.header-info {
  font-weight: 700;
}

.header-info__hours {
  font-size: 14px;
  line-height: 16px;
}

.header-info__phone {
  font-size: 22px;
  line-height: 24px;
}

.promotions__item p:first-child {
  font-size: 35px;
  line-height: 41px;
}

.promotions__item p:last-child {
  font-size: 18px;
  line-height: 22px;
}

.promotions__raspberry {
  background-image: url(../img/raspberry.png);
  background-repeat: no-repeat;
}

.promotions__chocolate {
  background-image: url(../img/chocolate.png);
  background-repeat: no-repeat;
}

.bestsellers__list {
  list-style: none;
}

.bestsellers__item:hover,
.bestsellers__item:focus {
  background-color: #a1b4a9;
  transition: background-color 0.2s;
}

.bestsellers__item h3 {
  border-bottom: 1px solid #ffffff;
}

.bestsellers__item {
  position: relative;
}

.bestsellers__price {
  position: absolute;
  top: 200px;
}

.price_hit {
  position: relative;
}

.price_hit:before {
  content: '\abe9';
  position: absolute;
}

.price__amount {
  font-size: 45px;
  line-height: 45px;
}

.price__weight {
  font-size: 28px;
  line-height: 28px;
}

.features__container {
  color: #323232;

  background-image: url(../img/wafer.png);
  background-repeat: no-repeat;
}

.features__lead {
  font-size: 24px;
  line-height: 30px;
  padding-left: 21px;
  padding-top: 31px;
  margin: 0 0;
}

.features__item::before {
  width: 49px;
  height: 49px;
  padding-right: 58px;
}

.features__item--ice-cream::before {
    background-image: url('../img/ice-cream.svg');
}

.features__item--eco::before {
  background-image: url('../img/eco.svg');
}

.features__item--cow::before {
  background-image: url('../img/cow.svg');
}

.features__item--thermometer::before {
  background-image: url('../img/thermometer.svg');
}

.blog {
  color: #323232;

  background-image: url(../img/strawberry.png);
  background-repeat: no-repeat;
}

.blog h2 {
  font-size: inherit;
  line-height: inherit;
}

.blog-topic {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  border-bottom: 2px solid #323232;
}

.subscription {
  color: #5a5a5a;

  background-image: url(../img/subscription.png);
  background-repeat: no-repeat;
}

.contacts {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  background-color: #ffffff;
}

.contacts__adress,
.contacts__telephone-number {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.social {
  list-style: none;
}

.social__link::before {
  width: 32px;
  height: 32px;
}

.social__link--Twitter::before {
  background-image: url('../img/twitter.svg');
}

.social__link--Instagram::before {
  background-image: url('../img/instagram.svg');
}

.social__link--Facebook::before {
  background-image: url('../img/fb.svg');
}

.social__link--Вконтакте::before {
  background-image: url('../img/vk.svg');
}

.additional-info {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.additional-info__link {
  border-bottom: 1px solid #ffffff;
  position: relative;
}

.additional-info__link--heart::before {
  position: absolute;
  left: -20px;

  width: 15px;
  height: 13px;
  background-image: url('../img/heart.svg');
}

.copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.copyright::before {
  width: 108px;
  height: 39px;
  background-image: url('../img/logo-htmlacademy.svg');
}

.copyright span {
  border-bottom: 1px solid #ffffff;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  list-style: none;
}

.breadcrumbs__item {
  margin-right: 20px;
}

.breadcrumbs__item a {
  border-bottom: 1px solid #ffffff;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
}

.catalog__list {
  list-style: none;
}

.catalog__item:hover,
.catalog__item:focus {
  background-color: #a1b4a9;
  transition: background-color 0.2s;
}

.catalog__item h3 {
  border-bottom: 1px solid #ffffff;
}

.pagination {
  list-style: none;
}

.pagination__item--current {
  color: #000000;
  background-color: #ffffff;
}

/* Строим сетку */

.main-header {
  position: relative;

  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.container {
  margin: 0 auto;
  padding: 0 27px;

  width: 1200px;
}

.main-header,
.main-header__navigation,
.main-footer {
  display: flex;
}

.main-header__navigation {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 1160px;
  margin-top: 10px;
}

.main-navigation__container {
  display: flex;
  justify-content: space-between;
  width: 950px;
}

.site-navigation,
.user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.site-navigation__item:first-child {
  padding-left: 21px;
}

.site-navigation__item:not(:last-child) {
  padding-right: 28px;
}

.site-navigation__link {
  border-bottom: 1px solid #a1b4a9;
}

.user-navigation__item:not(:last-child) {
  margin-right: 10px;
}

.user-navigation__link {
  display: flex;
}

.main-header__info {
  position: absolute;
  top: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  padding: 0;
  /* временно, пока нет слайдера */
  width: 100%;
}

.page-main__slider {
  margin-bottom: 40px;

  /* временно для сетки */
  min-height: 209px;
}

.promotions__list,
.container__list {
  list-style: none;
}


.promotions__item {
  width: 560px;
  height: 230px;
}

.promotions__list,
.bestsellers__list,
.catalog__list,
.container__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.bestsellers__item,
.catalog__item {
  margin-bottom: 33px;
  margin-right: 26px;

  width: 267px;

  /* временно для сетки */
  min-height: 325px;
}

.bestsellers__item:nth-child(4n),
.catalog__item:nth-child(4n) {
  margin-right: 0;
}

.page-main__features {
  margin-bottom: 40px;
  padding-top: 25px;

  /* временно для сетки */
  min-height: 305px;
}

.features-lead {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-right: 20px;

  /* временно для сетки */
  min-height: 63px;
}

/* .features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 0;
  padding: 0;
  padding-left: 20px;
} */

.features__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-weight: 400;
  margin: 0;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 32px;
}

.features__item {
  margin-bottom: 28px;
  display: flex;
  max-width: 488px;
}


.page-main__blog,
.page-main__subscription {
  width: 560px;
  height: 220px;
}

.main-footer {
  margin-top: 18px;

  /* временно для сетки */
  min-height: 85px;
}

.main-footer__map {
  width: 1200px;
  min-height: 430px;
}

.main-footer__contacts {
  margin-left: -27px;

  width: 1200px;
  min-height: 430px;
}

.main-footer__social {
  display: flex;

  width: 267px;

  /* временно для сетки */
  min-height: 40px;
}

.main-footer__additional {
  display: flex;

  margin: 0;

  /* width: 560px; */
}

.main-footer__copyright {
  display: flex;

  width: 267px;
}

.page-main__breadcrumbs {
  display :flex;
  flex-direction: row;
}

/* микросетка */

.header-info {
  padding-right: 180px;
}

.price__amount {
  padding-top: 50px;
}
