@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff2") format("woff2"),
       url("../fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-medium.woff2") format("woff2"),
       url("../fonts/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold.woff2") format("woff2"),
       url("../fonts/roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background-color: #849d8f;
  min-width: 1200px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.icon-before::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button {
  display: inline-block;

  padding: 8px 40px 11px 40px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.8);

  background: #f26843;
  border-radius: 50px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.7);
  border: none;
}

.button:hover,
.button:focus {
  background-color: #f17b64;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
  transition: background-color 0.2s;
}


.button:active {
  background-image: linear-gradient(to bottom, #e0603e, #a7301f);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.catalog-navigation__modal-window {
  display: none;
}

.search__form {
  display: none;
}

.basket__modal-window {
  display: none;
}

.login__modal-window {
  display: none;
}

.feedback {
  display: none;
}

.site-navigation {
  line-height: 18px;
  font-weight: 700;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation__item--active {
  background-color: #d07058;
}

.user-navigation__item {
  background-color: #a1b4a9;
}

.search__link::before {
  width: 17px;
  height: 17px;
  background-image: url('../img/loupe.svg');
}

.login__link::before {
  width: 21px;
  height: 19px;
  background-image: url('../img/entrance.svg');
  margin-right: 10px;
}

.basket__link::before {
  width: 21px;
  height: 20px;
  background-image: url('../img/basket.svg');
}

.basket__link--full::before {
  width: 21px;
  height: 20px;
  background-image: url('../img/basket-red.svg');
}

.site-navigation__link,
.user-navigation__link {
  color: inherit;
}

.site-navigation__link:hover,
.site-navigation__link:focus,
.user-navigation__link:hover,
.user-navigation__link:focus {
  color: #000000;
  background-color: #ffffff;
  transition: background-color 0.2s;
}

.header-info {
  font-weight: 700;

  padding-right: 180px;
}

.header-info__hours {
  font-size: 14px;
  line-height: 16px;
}

.header-info__phone {
  font-size: 22px;
  line-height: 24px;
}

.price__amount {
  font-size: 45px;
  line-height: 45px;

  padding-top: 50px;
}

.price__weight {
  font-size: 28px;
  line-height: 28px;
}

.page-main__breadcrumbs {
  display: flex;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  list-style: none;
}

.breadcrumbs__item {
  margin-right: 20px;
}

.breadcrumbs__item a {
  border-bottom: 1px solid #ffffff;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
}

.catalog__list {
  list-style: none;
}

.catalog__item:hover,
.catalog__item:focus {
  background-color: #a1b4a9;
  transition: background-color 0.2s;
}

.catalog__item h3 {
  border-bottom: 1px solid #ffffff;
}

/* Строим сетку */

.main-header {
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 0 auto;
  padding: 0 27px;

  width: 1200px;
}

.main-header,
.main-header__navigation {
  display: flex;
}

.main-header__navigation {
  flex-direction: row;
  align-items: center;
  width: 1146px;
  margin-top: 10px;
}

.main-navigation__container {
  display: flex;
  justify-content: space-between;
  width: 950px;
}

.site-navigation,
.user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.site-navigation__item:first-child {
  padding-left: 21px;
}

.site-navigation__item:not(:last-child) {
  padding-right: 28px;
}

.site-navigation__link {
  border-bottom: 1px solid #a1b4a9;
}

.user-navigation__item:not(:last-child) {
  margin-right: 10px;
}

.user-navigation__link {
  display: flex;
}

.main-header__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  position: absolute;
  top: 80px;

}

/* Слайдер */

.page-main__slider {
  display: block;
  position: relative;

  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 40px;

  text-align: center;
}

.slider__controls {
  position: absolute;
  top: 556px;
  left: 27px;
  z-index: 100;

  font-size: 0;
}

.slider__controls label {
  position: relative;
  display: inline-block;

  vertical-align: top;

  width: 21px;
  height: 21px;

  margin-right: 8px;

  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: transparent;

  cursor: pointer;
}

.slider__controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#slider-button-1:checked ~ .slider__controls label[for="slider-button-1"],
#slider-button-2:checked ~ .slider__controls label[for="slider-button-2"],
#slider-button-3:checked ~ .slider__controls label[for="slider-button-3"] {
  background-color: #ffffff;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__item {
  display: none;
  position: relative;

  width: 1200px;
  min-height: 665px;
  overflow: hidden;
  text-align: center;
}

.slider__item:nth-child(1) {
  background-image: url(../img/slider-1.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.slider__item:nth-child(2) {
  background-image: url(../img/slider-2.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.slider__item:nth-child(3) {
  background-image: url(../img/slider-3.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.slider-button--first:checked ~ .slider__list .slider__item:nth-child(1) {
    display: block;
}

.slider-button--second:checked ~ .slider__list .slider__item:nth-child(2) {
    display: block;
}

.slider-button--third:checked ~ .slider__list .slider__item:nth-child(3) {
    display: block;
}

.slider__lead {
  position: absolute;
  top: 390px;
  left: 260px;

  margin: 0 auto;
  margin-bottom: 33px;
  padding: 0;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;

  width: 675px;
}

.slider__button {
  position: absolute;
  top: 535px;
  left: 450px;
}

.slider__lead--1 {
  width: 650px;
}

/* Промоакции */

.promotions {
  margin-top: -55px;
  position: relative;
}

.promotions__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style: none;
}

.promotions__item {
  display: flex;
  flex-direction: column;

  padding-top: 15px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;

  width: 560px;
  min-height: 230px;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  border-radius: 16px;
}

.promotions__raspberry {
  background-image: url(../img/raspberry.png);
}

.promotions__chocolate {
  background-image: url(../img/chocolate.png);
}

.promotions__item p:first-child {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promotions__item p:last-child {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.promotions__button {
  align-self: flex-end;

  padding: 11px 22px 11px 22px;
  font-size: 18px;
  line-height: 24px;
}

/* Хиты продаж */



.bestsellers__list {
  list-style: none;
}

.bestsellers__item:hover,
.bestsellers__item:focus {
  background-color: #a1b4a9;
  transition: background-color 0.2s;
}

.bestsellers__item h3 {
  display: inline;

  border-bottom: 1px solid #ffffff;
}

.bestsellers__item,
.catalog__item {
  margin-bottom: 33px;
  margin-right: 26px;

  width: 267px;
}

.bestsellers__item:nth-child(4n),
.catalog__item:nth-child(4n) {
  margin-right: 0;
}

.bestsellers__list,
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.bestsellers__item {
  position: relative;
}

.bestsellers__price {
  position: absolute;
  top: 200px;
}

.price_hit {
  position: relative;
}

.price_hit:before {
  content: '\abe9';
  position: absolute;
}


/* Вафля */

.page-main__features {
  display: flex;
  flex-direction: column;

  margin-bottom: 40px;
  padding: 27px 20px;
}

.features {
  color: #323232;

  background-image: url(../img/wafer.png);
  background-repeat: no-repeat;

  width: 1146px;
}

.features__lead {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;

  list-style: none;
  width: 1100px;
}

.features__item {
  position: relative;

  margin-top: 8px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 13px;
  padding-left: 57px;
  padding-right: 0;

  width: 539px;
}

.features__item::before {
  content: '';

  position: absolute;
  left: 0;
  top: 0;

  width: 49px;
  height: 49px;
}

.features__item--ice-cream::before {
  background-image: url('../img/ice-cream.svg');
}

.features__item--eco::before {
  background-image: url('../img/eco.svg');
}

.features__item--cow::before {
  background-image: url('../img/cow.svg');
}

.features__item--thermometer::before {
  background-image: url('../img/thermometer.svg');
}

/* рассылка и статья */

.add-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 40px;
}

.blog__wrapper {
  display: inline-block;

  max-width: 285px;
}

.blog {
  padding: 22px 20px;
  color: #323232;
  background-image: url(../img/strawberry.png);
  background-repeat: no-repeat;
  border-radius: 15px;

  width: 560px;
}

.blog h2 {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
}

.blog-topic {
  display: inline;

  width: 282px;

  font-size: 24px;
  line-height: 30px;
  color: inherit;
  font-weight: 700;
  vertical-align: top;
  border-bottom: 2px solid #000000;
}

.blog-topic:hover,
.blog-topic:focus,
.blog-topic:active {
  color: #e84d37;
}

.subscription {
  padding: 27px 20px;

  width: 560px;

  color: #5a5a5a;

  background-image: url(../img/subscription.png);
  background-repeat: no-repeat;
}

.subscription p {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
}

.subscription__form {
  padding-bottom: 39px;
}

.subscription input {
  width: 365px;
  height: 44px;

  margin-right: 7px;
  padding: 10px 15px 12px 15px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.subscription input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
}

.subscription input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscription input:focus{
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.subscription__submit-button {
  width: 129px;

  padding: 8px 19px 11px 19px;

  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

/* карта + форма обратной связи */

.page-main__contacts {
  display: block;
  position: relative;

  min-height: 430px;
  overflow: hidden;
}

.contacts iframe {
  border: 0;
  width: 1400px;
  height: 430px;
}

.contacts {
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  background-color: #fffffe;
}

.map-img,
.map-yandex {
  position: absolute;
  text-align: center;
}

.contacts__window {
  display: block;
  position: absolute;
  top: 60px;
  right: 15px;
  padding-top: 30px;
  padding-bottom: 26px;
  padding-left: 25px;
  padding-right: 25px;

  border-radius: 15px;
  background-color: #ffffff;

  width: 302px;
  height: 306px;
}

.contacts__window h3 {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts__adress,
.contacts__telephone-number,
.contacts__button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__adress {
  margin: 0;
  padding: 0;

  font-weight: 700;
}

.contacts__telephone-number {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;

  width: 175px;
}

.contacts__work-hours {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  line-height: 22px;
}

.contacts__button {
  display: block;

  margin-top: auto;
  padding: 8px 25px 11px 25px;

  min-height: 44px;
  color: #fefefe;
}


/* пагинация */

.catalog__pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.pagination {
  list-style: none;
}

.pagination__link {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin-right: 3px;
  padding: 4px 9px;

  border-radius: 50%;
}

.pagination__link[href]:hover,
.pagination__link[href]:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination__link[href]:active,
.pagination__link--current {
  color: #323232;

  background-color: #ffffff;
}

.pagination__item:first-child,
.pagination__item:last-child {
  background-image: url('../img/icon-right-small.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.pagination__item:first-child {
  margin-left: 10px;
  margin-right: 15px;

  opacity: 0.2;
  transform: rotate(180deg);
}

/* Footer */

.main-footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  margin: auto;
  margin-top: 10px;
  padding-bottom: 25px;

  width: 1200px;
}

.main-footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-shrink: 0;

  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 5px;
  padding-left: 26px;
  margin-right: 26px;
  max-width: 267px;
}

.social__link {
  display: inline-block;

  margin-right: 11px;
  width: 38px;
  height: 38px;

  color: #e6ebe9;
  vertical-align: top;
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__link--Twitter {
  background-image: url('../img/twitter.svg');
}

.social__link--Instagram {
  background-image: url('../img/instagram.svg');
}

.social__link--Facebook {
  background-image: url('../img/fb.svg');
}

.social__link--Вконтакте {
  background-image: url('../img/vk.svg');
}

.social__link:hover,
.social__link:focus {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.7);
}

.social__link:active {
  opacity: 0.7;
  box-shadow: inset 0 2px 1px 0px #888888;
}

.main-footer__additional {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-shrink: 0;

  margin: 0;
  margin-right: 26px;
  padding: 0;
  padding-left: 107px;
  padding-right: 120px;
  padding-bottom: 1px;
  width: 560px;
}

.additional-info {
  list-style: none;
}

.additional-info__item {
  margin-right: 5px;
  padding-left: 20px;

  min-width: 140px;
}

.additional-info__item--heart {
  position: relative;

  font-weight: 700;
}

.additional-info__item--heart::before {
  content: '';

  position: absolute;
  left: 0;
  top: 1px;

  width: 15px;
  height: 13px;
  background-image: url('../img/heart.svg');
}

.additional-info__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.7);
  vertical-align: top;
}

.main-footer__copyright {
  display: flex;
  flex-wrap: wrap;

  margin-left: auto;
}

.copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.copyright__link:last-child {
  color: #fefefe;
  border-bottom: 1px solid #fefefe;
}

.copyright__text {
  margin: 0;
  padding: 0;
  margin-top: 1px;
  /* margin-left: 77px; */
}

.copyright__link:last-child:hover,
.copyright__link:last-child:focus,
.additional-info__link:hover,
.additional-info__link:focus {
  color: #ffbc9e;
  border-bottom: 0.5px solid #ffbc9e;
}
